.footer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 15px;
}
.footer1{
text-decoration: none;
color: rgb(61, 60, 60);

}
.footer-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* .footer2 .footer1{
    padding-left: 20px;
} */